
.header{
   border-bottom: 1px solid #ababab;
   box-shadow:1px 2px #bababa;
}
.header--logo{
    width: 100px;
    height: 80px;
   display: flex;
}
.header--logo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header--logo>span{
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
}
.grid--header{
    display: flex;
    justify-content: space-between;
    
}
.header--navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0 32px;
    line-height: 80px;
    font-size: 20px;
   
}
.list__product{
    margin-top: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 50px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.product--item{
    border: 2px solid #bababa;
    box-shadow:1px 1px #bababa;
    width: 100%;
    border-radius: 4px;
   
}
.item-image{
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 280px;
}
.item-image>i{
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 16px;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 50%; 

}
.item-image>i:hover{
    cursor: pointer;
    color: #646464;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item-decription{
    background-color:#e0e0e0;
    padding: 16px;
    
}
.item-name{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;

}
.item-detail{
    font-size: 16px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}
.active>a{
    border-bottom: 2px solid rgb(219, 37, 37);
}
.navbar--item>span:hover{
    cursor: pointer;
    color: #bababa;
}
.navbar--item>a:hover{
    cursor: pointer;
    color: #bababa;
}
.item-cart>i:hover{
    cursor: pointer;
    color: #bababa;
}
.navbar--item>a{
    color: #000;
    text-decoration: none;
}
.none{
    display: none !important;
}
.item-cart{
    position: relative;
}
.item-cart__count{
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
}
.item-cart__count:hover{
    color: #ffffff !important;
}





















/* CSS CART*/
.cart__empty{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cart__empty>img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin-bottom: 32px;
}
.list__cart{
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}
.carttitle{
    display: flex;
    justify-content: space-between;
}

.cartitem
{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid #ccc;
    border-top:1px solid #ccc;

}
.cartItem--name,
.cartitem--productname{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cartitem--producdecription{
    display: flex;
    width: 100%;
    height: 60%;
}
.cartitem--productname{
    font-size: 20px;
    font-weight: bold;
}
.cartitem--producdecription>img{
    height: 100%;
    width: 20%;
    object-fit: contain;
}
.caritem--detail{
    width: 70%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    justify-content: space-between; 
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.caritem--detail>span{
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;

}
.detail--name{
    font-weight: bold;
    font-size: 18px;
}
.cartItem--handlequatity>span,
.subtotal--title,
.total--title,
.clear--title,
.quatity--title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.cartItem--handlequatity,
.quatity--title{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.quatity--handle{
    display: flex;
    justify-content: center;
    
}
.subtotal--money,
.total--money,
.cartItem--clear>i{
    text-align: center;
    font-size: 16px;
}
.cartItem--clear>i{
    font-size: 24px;
    color: red;
}
.quatity--handle>button{
width: 20%;

}
.quatity--handle>input{
    width: 20%;
}
.cartItem--subtotal,
.subtotal--title{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.cartItem--total,
.total--title{
    justify-content: space-around;
    width: 10%;
    display: flex;
    flex-direction: column;
 
}
.cartItem--clear,
.clear--title{
    justify-content: space-around;
    width: 10%;
    display: flex;
    flex-direction: column;
 
}
.cart__footer{
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}
.cartprices{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartprices > span{
    padding-bottom: 16px ;
    text-align: right;
}
.cartprices>input{
    border: none;
    outline: none;
    align-self: flex-end;
    color: #fff;
    background-color: #418458;
    width: 58px;
    padding: 12px 16px;
    border-radius: 8px;
}
.cart__footer--backmenu{
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.cart__footer--backmenu>input{
    border: 1px solid rgb(217, 115, 121);
    background-color: #fff;
    color: #d97379;
    padding: 12px;
    border-radius: 8px;
}
.btn__minus,
.btn__plus{
    color: #000;
    border: none;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.text__quatity{
    text-align: center;
    border: none;
    
}
.btn__delete:hover{
    cursor: pointer;

}

.cartprices>input:hover{
    cursor: pointer;
    background-color: rgba(0, 56, 7, 0.5);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  margin: 0;
}


/* CSS Form Customer*/
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form_customer {
    background-color: #fff;
    max-width: 600px;
    border-radius: 5px;
    padding:20px 0;
  }
  .form_header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  .form_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding:0 20px;
    
  }
  .form_header>i{
    padding:0 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .form_name,
  .form_mail,
  .form_phone,
  .form_addredss,
  .form_message {
    padding:0 20px;
  }
  
  .form_name label,
  .form_mail label,
  .form_phone label,
  .form_addredss label,
  .form_message label {
    display: block;
    font-weight: bold;
    margin-top: 12px;
  }
  
  .input_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .input_wrapper>input{
    width: 46%;
    border-radius: 4px;
    padding: 8px;
  }
  .input_mail>input,
  .input_phone>input,
  .form_addredss>input
  {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    padding: 8px;
  }
  .input_address{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.province,
.district,
.wards{
    width: 32%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 6px;
}
  .input_message{
    width: 100%;
 }

 textarea {
   width: 100%;
   resize: none;
   border-radius: 4px;
 }
 .form__btn{
    padding: 20px;
    display: flex;
    justify-content: end;

 }
 .form__btn>button:first-child{
    color: #fff;
    background-color: #ff0000;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 4px;
 }
 .form__btn>button:last-child{
    color: #fff;
    background-color: #2c71f3;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
 }









 /* Popup menu */
 .toast__message{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
 }
    .message{
        
        background-color: rgb(255, 253, 253);
        width: 320px;
        padding:4px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
       display: flex;  
       transition: all linear 0.3s ;
       margin-bottom: 8px;

    }
    @keyframes slideInLeft {
        from {
          opacity: 0;
          transform: translateX(calc(100% + 32px));
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @keyframes fadeOut {
        to {
          opacity: 0;
        }
      }
      
    .message__title{
      
        font-size: 24px;
    }
    .message__content{
        padding-top: 8px;
        font-size: 16px;
        
    }
    .message>i{
        font-size: 28px;
        padding: 0 16px;
        line-height: 56px;
    }
    .success{
        color: #5ef83f;
        
    }
    .error{
        color: #ff2828;
  
    }
    .message--success{
        border-left: 12px solid #5ef83f;
    }
    .message--error{
        border-left: 12px solid #ff2828;
    }





/*  CSS popup Message Delete */
.message__delete{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 1px 2px rgba(22, 21, 21, 0.5);
    border-radius: 4px;
    
}
.message--title{
    font-size: 32px;
    color: #d97379;
    text-align: center;
}
.message--content{
    padding: 16px 0;
    font-size: 18px;
}
.message--btn{
    text-align: end;
}
.message--btn button:nth-child(1){
    background-color: rgb(217, 115, 121);
    padding: 8px 20px;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 1px 2px rgba(22, 21, 21, 0.5);
    border-radius: 4px;
}
.message--btn button:nth-child(2){
     padding: 8px 20px;
     border: none;
    outline: none;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.message--btn button:nth-child(1):hover{
    cursor: pointer;
    background-color: rgba(214, 46, 57, 0.5);
}
.message--btn button:nth-child(2):hover{
    cursor: pointer;
    background-color: rgba(175, 175, 175, 0.5);
}

















/* BILL CSS */
.bill_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bill__title,
.bill__product{
    display: flex;
    justify-content: space-between;
}

.id--title,
.customer_name--title,
.date--title,
.item--title,
.total__quatity--title,
.price--title,
.return--title{
    width: 15%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 24px 0;
}

.id--product,
.customer_name--product,
.date--product,
.item--product,
.total__quatity--product,
.price--product,
.return--product{
    width: 15%;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
.id--product,
.id--title{
    width: 25%;
    }
.customer_name--title,
.customer_name--product{
    width: 25%;
    
}
.customer_name--product{
    text-transform: uppercase;
}
.bill__container{
    margin-bottom: 32px;
}

.btn_backtomenu:hover{
    cursor: pointer;
    background-color: rgba(217, 115, 121, 0.5);
    color: #fff;
}